@model  IEnumerable<TheBlogToRestart.Models.Post>
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_PostLayout.cshtml";
}

<br />
<div class="row">
    <div class="col-xs-12 col-md-4">
        <h3>Published Posts</h3>
    </div>
    <div class="col-xs-12 col-md-8">
        <div class="form-group">
            <label for="Title"></>Search by Title</label>
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Title" />
        </div>
    </div>
</div>
<div id="published">
    <div class="row">
        <div class="col-xs-12">
            <table id="myTable" class="table table-striped" style="width: auto;">
                <thead>
                    <tr>
                        <th>PostId</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var post in Model)
                    {
                        <tr>
                            <td>@post.PostId</td>
                            <td>@post.Title</td>
                            <td>@post.Author</td>
                            <td>@post.Description</td>
                            <td>
                                @Html.ActionLink("Details", "Publish", "Post", new { id = post.PostId }, null)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
function myFunction() {

    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (var i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
}
</script>