@model TheBlogToRestart.Models.Post
@{
    ViewBag.Title = "Publish";
    Layout = "~/Views/Shared/_PostLayout.cshtml";
}

@section head{

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src='~/scripts/tinymce/tinymce.js'></script>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <script type="text/javascript">

        tinymce.init({
            mode: 'textareas',
            theme: 'modern',
            width: 600,
            height: 300,
            plugins: [
              'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
              'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
              'save table contextmenu directionality emoticons template paste textcolor'
            ],
            toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons'
        });
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/BlogScript.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {
            $('#postdate').datepicker({
                showOn: 'both'
            });
            $('#enddate').datepicker({
                showOn: 'both'
            });
        });
    </script>

}

<br /><br />
<div class="row">
    <div class="col-xs-12 col-sm-3">
    </div>
    <div class="col-xs-12 col-sm-9">
        <h3>Edit and Publish Post</h3>
    </div>
</div>
<div class="row">

    @using (Html.BeginForm())
    {
    @Html.HiddenFor(p => p.PostId)
        <div class="col-xs-12 col-sm-3">
            <h4>Blog Features</h4>
            <div class="panel-group" id="accordion">

                <div class="panel panel-default" >
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Author</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="panel-body form-group">
                                @Html.TextBoxFor(m => m.Author, new { @class = "form-control", id = "author" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">#Tags</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div id="tagsDiv"></div><!--Need Toggles-->

                            <br />
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Featured Image</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body form-group">
                            @Html.TextBoxFor(m => m.Image, new { @class = "form-control", id = "image" })
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Location</a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body form-group">
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", id = "address"})
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Post Date</a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body form-group">
                            <div class="input-group date" data-provider="datepicker">
                                <input type="text" class="datepicker" id="postdate" />

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Expiration Date</a>
                        </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse">
                        <div class="panel-body form-group">
                            <div class="input-group date" data-provider="datepicker">
                                <input type="text" class="datepicker" id="enddate" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">Draft</a>
                        </h4>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div>
                                <label class="switch">
                                    <div class="form-group">
                                        <p>Activate Post</p>

                                        @if (Model.Published)
                                        {
                                            <input type="checkbox" name="published" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="published" />
                                        }


                                        <div class="slider"></div>

                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-9">
            <div class="editor-title">

                <div class="form-group">
                    <lable>Title</lable>
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control", id = "title" })
                </div>

                <div class="form-group">
                    <lable>Description</lable>
                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control", id = "description" })
                </div>
                <div>
                    <h4>Tags</h4>
                    @foreach (var tag in Model.Tags)
                    {
                        <p>@tag.HashTag</p>
                    }

                </div>
                <label>Content</label>

                @Html.TextAreaFor(m => m.Content, new { @class = "form-control", id = "content" })

                <body id="tinymce" class="mce-content-body">
                    <div class="form-group">

                    </div>
                </body>
                <button type="submit" class="btn-primary" id="savePostBtn" data-id="@Model.PostId">Save and Pubish</button>
            </div>
        </div>
    }
    @section scripts {

        <script type="text/template" id="tmpl">


            <ul>{{TagAsString}}</ul>

        </script>

        <script>


            $(function () {
                loadAllTags();

                var templates = {};
                function merge(template, obj) {
                    if (!templates[template]) {
                        templates[template] = $("#" + template).html();
                    }
                    var html = templates[template];
                    return html.replace(/{{(\w+)}}/gi, function (m, entry) {
                        return obj[entry];
                    });
                };
                function loadAllTags() {
                    $.getJSON("/api/Tag/GetAll/")
                    .done(function (entries) {
                        console.log(entries);
                        var content = $("#tagsDiv").empty();
                        entries.TagAsString = entries.map(function (elem) {
                            console.log(elem.HashTag);

                            return "<li class=\checkbox\" style=\"list-style:none;\" ><label><input type=\"checkbox\" name=\"tagToggle\" data-id=\"" + elem.TagId + "\" value=\"\">" + elem.HashTag + "</label></li>";
                        }).join(" ");
                        content.append(merge("tmpl", entries));
                    });
                };
                function addToTagArray() {
                    var tags = [];
                    var debug = $("input[name=\"tagToggle\"]:checked");
                    $("input[name=\"tagToggle\"]:checked").each(function () {
                        tags.push({ "TagId": $(this).data('id') });
                    });
                    console.log(tags);
                    return tags;
                };

                function publish() {
                    if ("input[name=\"pulished\"]:checked") {
                        return true;
                    }
                    else {
                        return false;
                    }
                };


                $('#savePostBtn')
              .click(function (evt) {
                  evt.preventDefault();
                  var entry = {};

                  entry.Title = $('#title').val();
                  entry.Image = $('#image').val();
                  entry.Address = $('#address').val();
                  entry.PostDate = $('#postdate').val();
                  entry.EndDate = $('#enddate').val();
                  entry.Author = $('#author').val();
                  entry.Description = $('#description').val();
                  entry.Content = tinyMCE.activeEditor.getContent({ format: 'raw' });
                  entry.Tags = addToTagArray();
                  entry.Published = publish();
                  entry.PostId = $(this).data('id');
                  $.post('/api/Blog/Post', entry)
                      .done(function () {
                          alert("Post published.")
                          console.log("saved!");
                      })
                      .fail(function (jqXhr, status, err) {
                          alert(status + '-' + err);
                          console.log("failed!");
                      });
                  return false;
              });
            });

        </script>

    }

