@model TheBlogToRestart.ViewModels.PostVM﻿
@{
    ViewBag.Title = "WritePost";
    Layout = "~/Views/Shared/_PostLayout.cshtml";
}

@section head{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src='~/scripts/tinymce/tinymce.js'></script>
    <script type="text/javascript">

        tinymce.init({
            mode: 'textareas',
            theme: 'modern',
            width: 600,
            height: 300,
            plugins: [
              'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
              'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
              'save table contextmenu directionality emoticons template paste textcolor'
            ],
            toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons'
        });
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/BlogScript.css" rel="stylesheet" />

}

<br /><br />
<div class="row">
    <div class="col-xs-12 col-sm-3">
    </div>
    <div class="col-xs-12 col-sm-9">
        <h3>Write Post</h3>
    </div>
</div>
@using (Html.BeginForm())
{
<div class="row">
    @Html.ValidationSummary(true)
        <div class="col-xs-12 col-sm-3">
            <h4>Blog Features</h4>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Author</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body form-group">
                            @Html.TextBoxFor(a => a.Post.Author, new { @class = "form-control", id = "author", placeHolder = "Name" })
                            <p class="help-block">@Html.ValidationMessageFor(m => m.Post.Author)</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">#Tags</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">

                          <div id="tagsDiv">
                            </div><!--Need Toggles-->           

                            <br />
                            <button type="button" id="tag-btn" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Add #Tag</button>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Featured Image Link</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body form-group">
                            @Html.TextBoxFor(a => a.Post.Image, new { @class = "form-control", id = "image", placeHolder = "Image Link" })
                            <p class="help-block">@Html.ValidationMessageFor(m => m.Post.Image)</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Featured Image</a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body form-group">
                            <input type="file" class="form-control" id="imagefile" accept="image" />
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Location</a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body form-group">
                            @Html.TextBoxFor(a => a.Post.Address, new { @class = "form-control", id = "address", placeHolder = "Full Address" })
                            <p class="help-block">@Html.ValidationMessageFor(m => m.Post.Address)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-9">
            <div class="editor-title">

                <div class="form-group">
                    <lable>Title</lable>
                    @Html.TextBoxFor(p => p.Post.Title, new { @class = "form-control", id = "title", PlaceHolder = "Title"})
                    <p class="help-block">@Html.ValidationMessageFor(m => m.Post.Title)</p>
                </div>

                <div class="form-group">
                    <lable>Description</lable>
                    @Html.TextBoxFor(p => p.Post.Description, new { @class = "form-control", id = "description", placeHolder = "Description" })
                    <p class="help-block">@Html.ValidationMessageFor(m => m.Post.Description)</p>
                </div>
                <label>Content</label>

                    @Html.TextAreaFor(p => p.Post.Content, new { @class = "form-control", id = "content", placeHolder = "Enter content here!"})
                    <p class="help-block">@Html.ValidationMessageFor(m => m.Post.Content)</p>
                    @*<textarea class="textarea-autosize editor-title_input" tabindex="1" placeholder="Title" ></textarea>*@

                    @*<body id="tinymce" class="mce-content-body">
                        <div class="form-group">

                        </div>
                    </body>*@
                
            </div>
            <button class="btn-primary" id="savePostBtn" onsubmit="setTimeout(function () { window.location.reload(); }, 1)">Save</button>
        </div>
    
</div>
}
<!--Modal-->
<div id="modal">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title" id="myModalLabel">#Tags</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Add new #Tag</label>
                                <input type="text" class="form-control" id="hashtag" />
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-info" data-dismiss="modal" id="tagbutton">Save #Tag</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {

<script type="text/template" id="tmpl">
    
    <ul>
        {{Tags}}
    </ul>
      
</script>

    <script>


<<<<<<< HEAD
        $(function () {        

            loadAllTags();
=======
        $(function () {
                            loadAllTags();
                            var templates = {};
                            function merge(template, obj) {
                            if (!templates[template]) {
                                templates[template] = $("#" + template).html();
                            }
                            var html = templates[template];
                            return html.replace(/{{(\w+)}}/gi, function (m, entry) {
                        return obj[entry];
                    });
            };


>>>>>>> 06a607f7d9e8abf1de4376da7cd21c60f399d84a
            $('#tagbutton')
                       .click(function () {
                    var entry = {};
                    entry.HashTag = $('#hashtag').val();
                           $.post('/api/Tag/Save', entry)
                               .done(function () {
                        loadAllTags();
                        console.log("saved!");
                        //$('#modal').hide();
                    })
                               .fail(function (jqXhr, status, err) {
                        alert(status + '-' + err);
                        console.log("failed!");
                    });
                    return false;
                });
            @*entries.HashTag*@
            function loadAllTags() {
                $.getJSON("/api/Tag/GetAll/")
                .done(function (entries) {
                    console.log(entries);
                    var content = $("#tagsDiv").empty();
                   entries.TagAsString = entries.map(function (elem) {
                       console.log(elem.HashTag);

                       return "<li class=\checkbox\" style=\"list-style:none;\" ><label><input type=\"checkbox\" name=\"tagToggle\" data-id=\"" + elem.TagId + "\" value=\"\">" + elem.HashTag + "</label></li>";
                    }).join();
                        content.append(merge("tmpl", entries));                    
                });
            };
            function addToTagArray(){
                var tags = [];
                var debug = $("input[name=\"tagToggle\"]:checked");
                $("input[name=\"tagToggle\"]:checked").each(function () {
                    tags.push({ "TagId": $(this).data('id')});
                   
                });
                console.log(tags);
                return tags;
            }              

            $('#savePostBtn')
          .click(function (event) {
              event.preventDefault();
              var entry = {};

              entry.Title = $('#title').val();
              entry.Image = $('#image').val();
              entry.Address = $('#address').val();
              entry.Author = $('#author').val();
              entry.Description = $('#description').val();
              entry.Content = tinyMCE.activeEditor.getContent({ format: 'raw' });
              entry.Tags = addToTagArray();
              console.log(entry);
              
              $.post('/api/Blog/Post', entry)
                  .done(function () {
                      alert("Post submitted. Pending approval.")
                      console.log("saved!");
                  })
                  .fail(function (jqXhr, status, err) {
                      alert(status + '-' + err);
                      console.log("failed!");
                  });
              return false;
          });
        });

    </script>

}
